<div *ngIf="data.selectedTaxon.scientificName;" class="row align-items-center">
  <div class="lead col">{{ data.selectedTaxon.scientificName }} </div>
  <button class="btn btn-outline-black col-auto" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
    (click)="onRemove()">
    <span _ngcontent-ggo-c50="" class="material-symbols-outlined" style="font-size: 1rem;" > close </span>
  </button>
</div>

<div [hidden]="data.selectedTaxon.scientificName">
  <form #agentsForm="ngForm" style="position: relative;">
    <input type="hidden" id="size" name="size"
          [(ngModel)]="data.filters.size">

    <div class="input-group mb-2">
      <input type="text" class="form-control" id="term" name="term"
          required
          [(ngModel)]="data.filters.term">
      <span class="input-group-text spinner">
        <div class="spinner-border spinner-border-sm fader text-primary d-inline-block" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </span>
    </div>

    <div class="card TaxaFilterContainer" *ngIf="data.states.listVisible"
        style="position: absolute; inset: 0px 0 auto 0; transform: translate(0px, 42px); z-index: 99;">
      <div class="list-group my-n3">
        <div class="list-group-item" *ngFor="let taxon of data.Taxa; trackBy: trackBy"
              (click)="onClick(taxon)">
          <div class="row">
            <div class="col ms-n2">
              <h5 class="mb-1">{{taxon.scientificName}}</h5>
              <p class="small text-gray-700 mb-0">
                {{taxon.scientificName}}
              </p>
              <small class="text-muted">

              </small>
            </div>
          </div> <!-- / .row -->
        </div>
      </div>
    </div>
  </form>
</div>
