<nav aria-label="breadcrumb">
  <ol class="breadcrumb text-upper-small">
    <li class="breadcrumb-item">Tris</li>
  </ol>
</nav>

<div class="header">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title text-truncate">
          Tris
        </h1>
      </div>
      <div class="col-auto">
        <button type="button" label="Add" class="btn btn-primary ms-2 d-flex" [routerLink]="['/tris/tri-edit']">
          <span class="material-symbols-outlined">
            playlist_add
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<tris-table [tris]="data.tris" [filters]="data.filters"
            (filtersChanged)="onFiltersChanged($event)"></tris-table>
