<nav aria-label="breadcrumb">
  <ol class="breadcrumb text-upper-small">
    <li class="breadcrumb-item"><span>Récoltes</span></li>
  </ol>
</nav>

<div class="header">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title text-truncate">
          Récoltes
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-upper-small text-muted"> <a [routerLink]="['/recoltes/tris']">Tris</a></h6>
            <span class="h2 mb-0">0*</span>
          </div>
        </div> <!-- / .row -->
      </div>
    </div>
  </div><!-- / .col -->

</div>
