<form name="trisFiltersForm" [formGroup]="filtersForm.fg" (ngSubmit)="onSubmit()">
  <div class="card-header">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col-auto">
          <button class="btn btn-sm btn-white" type="button" aria-expanded="false" (click)="toggleFilters($event)">
            <span class="material-symbols-outlined">
              filter_list
            </span> Filtres <span class="badge bg-primary ms-1 ">{{data.states.countFilters}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card trisFiltersContainer" *ngIf="data.states.filtersVisible"
       style="position: absolute; inset: 0px 1rem auto 1rem; transform: translate(0px, 64px);">

    <div class="card-header">
      <h4 class="card-header-title" style="margin: 0;">
        Filtres
        <button class="btn btn-sm btn-link text-reset" type="reset">
          <small>Effacer les filtres</small>
        </button>
      </h4>

      <button class="ms-auto btn btn-sm btn-link text-reset" type="button" (click)="toggleFilters()">
        <span class="material-symbols-outlined">
          cancel
        </span>
      </button>
    </div>
    <div class="card-body">
      <div class="list-group list-group-flush mt-n4 mb-4">
        <div class="list-group-item">
          <div class="d-flex align-items-center">
            <div>
              <label for="stagiaireLicence">Nom botanique</label>
            </div>
            <div class="ms-2">
              <input type="text" class="form-control" id="nom_botanique"
                     formControlName="nom_botanique">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex align-items-center">
        <button class="btn btn-primary" type="submit">
          Filtrer
        </button>
    </div>
  </div>
</form>
