<div id="trisList" class="card">

  <tris-filters (filtersChanged)="onFiltersChanged($event)"></tris-filters>

  <div class="table-responsive">
    <table class="mb-2 table table-sm table-hover table-nowrap card-table">
      <thead>
        <tr>
          <th>
            <!-- <div class="form-check mb-n2">
              <input class="form-check-input list-checkbox-all" id="listCheckboxAll" type="checkbox">
              <label class="form-check-label" for="listCheckboxAll"></label>
            </div> -->
          </th>
          <th>
            <a class="list-sort text-muted" data-sort [routerLink]="" (click)="onSort('nom_botanique')">
              Nom botanique
            </a>
          </th>
          <th>
            <a class="list-sort text-muted" data-sort [routerLink]="" (click)="onSort('tri_date')">
              Date de tri
            </a>
          </th>
          <th>
            <span class="list-sort text-muted">
              Nombre
            </span>
          </th>
          <th>
            <span class="list-sort text-muted">
              Poids
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.tris.items">
          <td>
            <!-- <div class="form-check">
              <input class="form-check-input list-checkbox" id="listCheckboxOne" type="checkbox">
              <label class="form-check-label" for="listCheckboxOne"></label>
            </div> -->
          </td>
          <td>
            <a [routerLink]="['/tris/tri-edit',{id: item.id}]" class="item-name text-reset">
              <span>{{item.nom_botanique}}</span>
            </a>
          </td>
          <td><span>{{item.tri_date | date:'dd/MM/yyyy'}}</span></td>
          <td><span>{{item.graines_nb}}</span></td>
          <td><span>{{item.graines_pds}}</span></td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="tris pagination" class="pe-4 d-flex justify-content-end">
      <ul class="pagination pagination-sm">

        <!-- <li class="page-item">
          <a  class="page-link"
              [routerLink]="" aria-label="Previous"
              (click)="onPaginate(0)">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li> -->

        <li class="page-item" [ngClass]="page.liClass" *ngFor="let page of data.pagination">
          <a class="page-link" [routerLink]="" [ngClass]="page.aClass"
             (click)="onPaginate(page.num)">
            <span aria-hidden="true" [innerHtml]="page.label"></span>
          </a>
        </li>

        <!-- <li class="page-item">
          <a  class="page-link"
              [ngClass]="data.tris.metadata.totalItems - ((data.filters.limit_start)*data.filters.limit) > 0?'':'disabled'"
              [routerLink]="" aria-label="Next"
              (click)="onPaginate(data.tris.metadata.totalItems/data.filters.limit)">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li> -->

      </ul>
    </nav>
</div>
