.navbar-vertical.navbar-expand-md.fixed-start {
  border-width: 0 1px 0 0;
  left: 0;
}
.navbar-brand {
  font-weight: 500;
  color: var(--color-fluoro-pink);
  flex: 1;
  margin-left: 1.5rem;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 1px;
}

.main-content {
  background-color: #fff;
  border-color: #e3ebf6;
  border-style: solid;
  border-width: 1px 0 0 ;
}


@media (min-width: 992px) {
  .navbar-vertical.navbar-expand-md,
  .navbar-vertical.navbar-expand-lg {
    bottom: 0;
    display: block;
    max-width: 250px;
    overflow-y: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navbar-vertical.navbar-expand-md .navbar-collapse,
  .navbar-vertical.navbar-expand-lg .navbar-collapse {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    /* margin-left: -1.5rem;
    margin-right: -1.5rem; */
    min-width: 100%;
    /* padding-left: 1.5rem;
    padding-right: 1.5rem; */
    width: auto;
  }
  .navbar-vertical.navbar-expand-md > [class*="container"],
  .navbar-vertical.navbar-expand-lg > [class*="container"] {
    /* align-items: stretch; */
    flex-direction: column;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand {
    display: block;
    font-size: 2em;
    margin-right: 0;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    flex: none;
  }

  .main-content {
    margin-left: 250px;
    padding-top: 1.5rem;
  }

  /*
  .navbar-vertical-sm:not([style*="display: none"])~.main-content .container,
  .navbar-vertical-sm:not([style*="display: none"])~.main-content .container-fluid,
  .navbar-vertical-sm:not([style*="display: none"])~.main-content .container-lg,
  .navbar-vertical-sm:not([style*="display: none"])~.main-content .container-md,
  .navbar-vertical-sm:not([style*="display: none"])~.main-content .container-sm,
  .navbar-vertical-sm:not([style*="display: none"])~.main-content .container-xl,
  .navbar-vertical:not([style*="display: none"])~.main-content .container,
  .navbar-vertical:not([style*="display: none"])~.main-content .container-fluid,
  .navbar-vertical:not([style*="display: none"])~.main-content .container-lg,
  .navbar-vertical:not([style*="display: none"])~.main-content .container-md,
  .navbar-vertical:not([style*="display: none"])~.main-content .container-sm,
  .navbar-vertical:not([style*="display: none"])~.main-content .container-xl,
  */

  .main-content > .container-fluid {
    padding-left: 2.25rem!important;
    padding-right: 2.25rem!important;
  }
}
